mixin navItem(path, label)
    li.nav-item
        a.nav-link(href=path)= label

div.navbar.navbar-expand-lg.bg-body-tertiary
    div.container-fluid
        div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav
                +navItem('/shop', "All items")
                +navItem('/shop/stats', "Stats")
                +navItem("/shop/add", "Add")