extends layout/layout

block content
    form(action="/add", method="post")
        div.mb-3
            label.form-label(for="title") Title
            input.form-control(name="title", id="title", type="text")
        div.mb-3
            label.form-label(for="date") Date
            input.form-control(name="date", id="date", type='date')
        div.mb-3
            input.btn.btn-primary(type='submit', value='Post')