extends layout/layout

block content
    div.list-group
        each post in posts
          a.list-group-item.list-group-item-action(href='/')
              div
                  h2= post.title
                  span= post.date