extends ../layout/layout

mixin inputGroup(name, label, type)
    div.mb-3
        label.form-label(for=name)= label
        input.form-control(name=name, id=name, type=type)

block content
    include ../partials/_shopNav
    h1 Add a product
    div.container-fluid.d-flex.justify-content-center
        form(action="/shop/add", method="post")
            div.d-flex
                div.container
                    +inputGroup('society', "Society", "text")
                    +inputGroup("qty", "Quantity", "number")
                    +inputGroup("year", "Year", "number")
                    +inputGroup("price", "Price", "text")
                div.container
                    div.container
                        h5 Size
                        +inputGroup('h', 'Height', "text")
                        +inputGroup("w", "Width", 'text')
                        +inputGroup("uom", "Unit of measure", "text")
                    +inputGroup("sale", "To sale ?", "checkbox")
            input.btn.btn-primary.w-100(type="submit", value="Save")