extends ../layout/layout

block content
    div.container-fluid
        include ../partials/_shopNav
        div.list-group
            each product in products
              div.list-group-item.mb-3
                div
                    h2= product.society
                    small Quantity : #{product.qty}
                    div.d-flex
                        a.m-1.list-group-item-action.nav-link.text-primary(href='/shop/show/'+product._id) More >
                        a.m-1.list-group-item-action.nav-link.text-primary(href="/shop/update/"+product._id) Update >
                        a.m-1.list-group-item-action.nav-link.text-danger(href="/shop/delete/"+product._id) Delete X