extends ../layout/layout

block content
    form(action='/addCat', method="post")
        input(type="text", name="name")
        input(type="text", name="age")
        input(type="submit", value="add cat")